node_modules
node_modules.*
.vscode
dist
/*test*
/*build*
Makefile
nbproject
**/CMakeFiles
CMakeFiles
.vs
**/alta-build
**/._*
**/.DS_Store
/bs/tests
/target
.ccls-cache
/compile_commands.json
.gdb_history
*.log
